/* COMMON */

body {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    background: #F6F5F0;
}

.material-icons {
    color: #F6F5F0;
    font-size: 32px;
    cursor: pointer;
}


/* HEADER */

header {
    background: #000;
    height: 60px;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
}

header>.material-icons {
    position: absolute;
}

header #btn--open {
    display: block;
    
}