body {
    padding: 5rem;
    white-space: nowrap;
}
.poem {
    display: flex;
    flex-direction: column;
    padding: 0 20rem;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-weight: 800;
}
.head {
    width: 50%;
    margin-bottom: 5rem;
    cursor: pointer;}
    
.text {
    text-align: left;
    font-size: 30px;
    font-weight: 200;
    line-height: 1.5rem;
}
.caluse {
    margin-bottom: 3.5rem;
}