* {
    margin: 0;
    padding: 0;
}

/* HEADER */
body {
    height: 100%;
    font-size: 16px;
    position: relative;
}

div, li, ul a {
    box-sizing: border-box;
}

/* #header1 .tap-area {
    width: 100%;
    box-sizing: border-box;
} */

#header1 .header_wrap {
    position: relative;
    padding: 0 30px;
    border-bottom: 1px solid #e5e5e5;

}

#header1 .inner_wrap {
    position: relative;
    max-width: 1120px;
    margin: 0 auto;
}

#header1 .header_wrap .inner_wrap {
    position: static;
}

#header1 .header_wrap .logo {
    position: relative;
    float: left;
    margin-top: 40px;
}

#header1 .header_wrap .logo h1 a img {
    display: inline-block;
    width: 150px;
    line-height: 70px;
    background-size: 100% auto;
    margin: -40px 0 0 -10px;
}

#header1 .header_wrap .wrapper {
    padding-top: 40px;
}

#header1 .header_wrap .bar {
    /* position: absolute; */
    bottom: 0%;
    height: 4px;
    background-color: #007fa8;
    opacity: 0%;
    /* transition: left .4s ease, width .4s ease, opacity .4s ease; */
}

#header1 .util_wrap {
    border-bottom: 1px solid #e5e5e5;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
}

#header1 .util_wrap .inner_wrap {
    padding: 0 30px;
    height: 40px;
}

#header1 .util_wrap .login {
    float: right;
    padding: 13px 0;
}

#header1 .util_wrap .inner_wrap ul.login li:first-child {
    border-left: none;
}

.link {
    margin: 10 0 0 7;
}

#header1 .util_wrap .login li {
    float: left;
    position: relative;
    height: 13px;
    border-left: 1px solid #e5e5e5;
    cursor: pointer;
    text-align: center;
}

#haeder1 a {
    outline: none;
    text-decoration: none;
}

#header1 .login div {
    display: inline-block;
    vertical-align: top;
    padding: 2.5px 15px;
    font-size: 11px;
    font-weight: bolder;
    color: #767676;
}

#header1 .util_wrap .login a {
    display: inline-block;
    vertical-align: top;
    padding: 2.5px 15px;
}

#header1 .util_wrap .inner_wrap ul.login .btn_worldwide {
    margin: -3px 0px 0px -29px;
    position: absolute;
    justify-content:flex-end;
}

#header1 .util_wrap .inner_wrap ul.login .btn_search {
    margin: -3px 0px 0px -25px;
    position: absolute;
    justify-content:flex-end;
}

#header1 .header_wrap .wrapper .head_menu>.head_list {
    text-align: center;
    font-size: 0;
}

#header1 .header_wrap .wrapper .head_menu>.head_list>li {
    font-size: medium;
    display: inline-block;
    padding: 0 15px;
}

#header1 .head_list div {
    font-size: 15px;
    letter-spacing: -.4px;
    line-height: 70px;
    padding: 0 15px;
    color: #444;
    font-weight: bolder;
    cursor: pointer;
}

/* .mainvisual-wrap {
    margin: 0 auto;
    display: block;
    width: 100%;
    position: relative;
    background-color: #f6f3f2;
    overflow: hidden;
} */

/* MAIN SLIDER */

.mainvisual-wrap {
    margin: 0 auto;
    display: block;
    width: 100%;
    /* position: relative; */
    background-color: #f6f3f2;
    overflow: hidden;
    /* justify-content: center; */
}

.slide-border {
    width: 100%;
    max-width: 1800px;
    margin: 0 auto;
}

.slide-container {
    height: 615px;
    overflow: hidden;
}

.mainvisual-wrap .slide_content img {
    max-width: 100%;
    width: 100%;
}

main #slider .slide_content {
    width: 100%;
    display: flex;
}

/* SLIDER ARROW */

main #slider .slide-container .material-icons {
    font-size: 30px;
    line-height: 1.5;
}


main #slider .arrow {
    width: 44px;
    height: 44px;
    background-color: rgba(31,45,61,.4);
    cursor: pointer;
    color: #fff;
    position: absolute;
    top: 50%;
    text-align: center;
}

main #slider .arrow--left :first-child {
    display: none; 
}

main #slider .arrow--left {
    left: 0; 
}

main #slider .arrow--right {
    right: 0;
}

/* CONTROL-WRAP */
.control-wrap {
    display: block;
    width: 1120px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto 50px;
    height: 4px;
}

.control-wrap_indicator {
    overflow: hidden;
    position: relative;
    height: 4px;
}

.slideinfo-list {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.slideinfo-list_item {
    width: 19.4%;
}

/* .slideinfo-list .slideinfo-list_attribute {
    padding-top: -80px;
    padding-bottom: 0;
} */

.slideinfo-list_attribute {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding: 0 9.25% 20px;
    text-align: left;
    transition: all .2s ease;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 100%;
    color: #fff;
}

.slideinfo-list_attribute .bar {
    border-color: #fff;
    border-color: #555;
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: inline-block;
    width: 97%;
    border-bottom: 4px;
    border-style: solid;
}

.slideinfo-list_attribute p {
    width: 120%;
    text-align: left;
    font-weight: 400;
}

.slideinfo-list_attribute span {
    margin-top: 10px;
    width: 100%;
    white-space: nowrap;
    /* text-overflow: ellipsis; */
    overflow: hidden;
}

.control-wrap_circle {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    bottom: 0;
}

.control-wrap_pause {
    margin-top: 15px;
    position: relative;
    width: 18px;
    height: 18px;
    background-color: #575757;
    border-radius: 10px;
    vertical-align: middle;
}

.control-wrap_pause .pause {
    margin: 2px 0 0 1.5px;
    display: block;
    width: 1px;
    height: 1px;
    font-size: 15px;
    font-weight: lighter;
    color: #fff;
    cursor: pointer;
}


/* model-wrap */

.model-wrap {
    display: flex;
    float: left;
    left: 0;
    right: 0;
    /* bottom: 0; */
    max-width: 1180px;
    width: 100%;
    /* height: 100%; */
    margin-top: -160px;
    text-align: left;
}

.model-wrap_square1 {
    display: flex;
    margin-top: auto;
    width: 120px;
    height: 40px;
    font-size: 15px;
    background: #002c5e;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.model-wrap_square2 {
    display: flex;
    margin-top: auto;
    margin-left: 10px;
    width: 120px;
    height: 40px;
    font-size: 15px;
    background: #002c5e;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.model-wrap span {
    vertical-align: middle;
    display: inline-block;
    position: absolute;
}
