/* HEADER */
body {
    height: 100%;
    font-size: 16px;
    position: relative;
}

div, li, ul a {
    box-sizing: border-box;
}

/* #header1 .tap-area {
    width: 100%;
    box-sizing: border-box;
} */

#header1 .header_wrap {
    position: relative;
    padding: 0 30px;
    border-bottom: 1px solid #e5e5e5;

}

#header1 .inner_wrap {
    position: relative;
    max-width: 1120px;
    margin: 0 auto;
}

#header1 .header_wrap .inner_wrap {
    position: static;
}

#header1 .header_wrap .logo {
    position: relative;
    float: left;
    margin-top: 40px;
}

#header1 .header_wrap .logo h1 a img {
    display: inline-block;
    width: 150px;
    line-height: 70px;
    background-size: 100% auto;
    margin: -40px 0 0 -10px;
}

#header1 .header_wrap .wrapper {
    padding-top: 40px;
}

#header1 .header_wrap .bar {
    /* position: absolute; */
    bottom: 0%;
    height: 4px;
    background-color: #007fa8;
    opacity: 0%;
    /* transition: left .4s ease, width .4s ease, opacity .4s ease; */
}

#header1 .util_wrap {
    border-bottom: 1px solid #e5e5e5;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
}

#header1 .util_wrap .inner_wrap {
    padding: 0 30px;
    height: 40px;
}

#header1 .util_wrap .login {
    float: right;
    padding: 13px 0;
}

#header1 .util_wrap .inner_wrap ul.login li:first-child {
    border-left: none;
}

.link {
    margin: 10 0 0 7;
}

#header1 .util_wrap .login li {
    float: left;
    position: relative;
    height: 13px;
    border-left: 1px solid #e5e5e5;
    cursor: pointer;
    text-align: center;
}

#haeder1 a {
    outline: none;
    text-decoration: none;
}

#header1 .login div {
    display: inline-block;
    vertical-align: top;
    padding: 2.5px 15px;
    font-size: 11px;
    font-weight: bolder;
    color: #767676;
}

#header1 .util_wrap .login a {
    display: inline-block;
    vertical-align: top;
    padding: 2.5px 15px;
}

#header1 .util_wrap .inner_wrap ul.login .btn_worldwide {
    margin: -3px 0px 0px -29px;
    position: absolute;
    justify-content:flex-end;
}

#header1 .util_wrap .inner_wrap ul.login .btn_search {
    margin: -3px 0px 0px -25px;
    position: absolute;
    justify-content:flex-end;
}

#header1 .header_wrap .wrapper .head_menu>.head_list {
    text-align: center;
    font-size: 0;
}

#header1 .header_wrap .wrapper .head_menu>.head_list>li {
    font-size: medium;
    display: inline-block;
    padding: 0 15px;
}

#header1 .head_list div {
    font-size: 15px;
    letter-spacing: -.4px;
    line-height: 70px;
    padding: 0 15px;
    color: #444;
    font-weight: bolder;
    cursor: pointer;
}

/* .mainvisual-wrap {
    margin: 0 auto;
    display: block;
    width: 100%;
    position: relative;
    background-color: #f6f3f2;
    overflow: hidden;
} */

/* MAIN SLIDER */

main {
    /* height: 100vh; */
    position: relative;
}

main #slider {
    width: 100%;
    height: 80vh;
    overflow: hidden;
    position: relative;
}

main .wrapper {
    margin: 0 auto;
    position: relative;
}

.mainvisual-wrap {
    margin: 0 auto;
    display: block;
    width: 100%;
    position: relative;
    background-color: #f6f3f2;
    overflow: hidden;
    justify-content: center;
}

main #slider .slide {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
    width: 100%;
}

.mainvisual-wrap .slide_content img {
    max-width: 100%;
    width: 100%;
}

main #slider .slide_content {
    width: 100%;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}


/* SLIDER ARROW */

/* SLIDER ARROW */

main #slider .material-icons {
    justify-content: center;
    position: absolute;
    /* top: 50%; */
    /* margin-top: -40px; */
    font-size: 50px;
    color: #F6F5F0;
    background-color: #333;
    margin-top: 280px;
}

main #slider .arrow {
    cursor: pointer;
    position: absolute;
    /* top: 50%; */
    /* margin-top: -50px; */
    width: 0;
    height: 0;
}

main #slider .arrow--left {
    left: 0px;
}

main #slider .arrow--right {
    right: 0px;
}


/* main .arrow {
    position: absolute;
    cursor: pointer;
    display: inline-block;
    width: 44px;
    height: 44px;
    margin-top: 280px;
    background-color: rgba(31,45,61,.4);
}


main #slider .arrow--left {
    color: #f6f5f0;
    font-size: 30px;
    margin: 7px 0 0 5px;
}

main #slider .arrow--right {
    color: #f6f5f0;
    font-size: 30px;
    margin: 7px 5px 0 0;}
 */
/* CONTROL-WRAP */
.control-wrap {
    display: block;
    width: 1120px;
    max-width: calc(100%-60px);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto 42px;
    opacity: 1;
}

.control-wrap_bar {
    margin-bottom: -20px;
    padding: 0 20px;
}

.slideinfo-list {
    display: flex;
}

.slideinfo-list_item {
    width: 19.4%;
}

.slideinfo-list .slideinfo-list_attribute {
    padding-top: 20px;
    padding-bottom: 0;
}

.slideinfo-list_attribute {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding: 0 9.25% 20px;
    text-align: left;
    transition: all .2s ease;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 100%;
}

.slideinfo-list_attribute p {
    width: 120%;
    text-align: left;
    font-weight: 400;
}

.slideinfo-list_attribute span {
    margin-top: 10px;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.model-wrap {
    display: flex;
    flex-direction: column;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 1180px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: left;
}

.model-wrap_square {
    margin-left: 0;
    position: absolute;

}

.model-wrap .model-wrap_square span {
    width: 120px;
    height: 40px;
    font-size: 15px;
    background: #002c5e;
    font-weight: 500;
    letter-spacing: -.4px;
    color: #fff;
    cursor: pointer;
    position: absolute;

}

/* SLIDER BARS */

main #slider .bars {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
}

main #slider .bars .bar {
    border-color: #555;
    bottom: auto;
    top: 0;
    content: "";
    position: absolute;
    left: 0;
    display: inline-block;
    width: 100%;
    border-bottom: 1px;
    border-style: solid;
}

main #slider .bars .bar1 {
    background: #fff;
    background: #1107ff;
}



